body {
  background-color: white;
}
.read-more button {
  border: none;
  outline: none;
  font-weight: bold;
  color: rgb(112, 112, 218);
  padding: 0 10px 0 10px;
  border-radius: 50px;
}
.read-more button:hover {
  cursor: pointer;
}
.read-more p {
  margin: 10px;
}

.tour {
  margin: 0 auto;
  width: 90vw;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour img {
  max-width: 100%;
  max-height: 400px;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: rgb(122, 199, 186);
  margin-left: auto;
  margin-right: auto;
}
